* {
    margin: 0;
    padding: 0;
}


@media (max-width: 767px) {
    .const1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .text_all {
        display: flex;
        flex-direction: column;
    }
}