* {
    margin: 0;
    padding: 0;
}
.lock-audio {
    background-color: #eee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video {
    height: 100vh;
    width: 100vh;
}